<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>

      <div>
        <form [formGroup]="demandeOuvForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <hr>
            <button type="button" (click)="pdfDomicile()" class="btn btn-dark">PJ DOMICILE</button>
            <button type="button" (click)="pdfImpot()" class="btn btn-dark">PJ IMPOT</button>

            <button type="button" (click)="majDemandeOuverture(2)" class="btn btn-dark">VALIDER DEMANDE</button>
            <button type="button" (click)="majDemandeOuverture(1)" class="btn btn-dark">METTRE EN ATTENTE LA DEMANDE</button>


            <p>Infos fournies par le client potentiel</p>
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" formControlName="nom">
            </div>
            <div class="form-group">
              <label>Prenom</label>
              <input type="text" class="form-control" formControlName="prenom">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label>Adresse</label>
              <input type="text" class="form-control" formControlName="adresse">
            </div>
            <div class="form-group">
              <label>Telephone</label>
              <input type="text" class="form-control" formControlName="telephone">
            </div>
            <div class="form-group">
              <label>Revenus mensuels</label>
              <input type="text" class="form-control" formControlName="revenus">
            </div>
            <hr>
            <p>Infos à remplir par l'agent</p>
            <div class="form-group">
              <label>Pseudo</label>
              <input type="text" class="form-control" formControlName="pseudo">
            </div>
            <div class="form-group">
              <label>mdp</label>
              <input type="text" class="form-control" formControlName="mdp">
            </div>
          </fieldset>
          <button type="submit" id="boutonvalider" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-agent></app-menu-droit-agent>
    </div>
  </section>
</main>
