main {
  margin-top: 80px;
}

.bandeau {
  height: 200px;
  width: 920px;
  align-items: center;
  padding-bottom: 10px;
}

#bandeauFilArianne {
  background-color: #9aa1a2a6;
}

.lienFilArianne {
  color:white;
}

.pointer {
  cursor: pointer;
}

pdf-viewer {
  display: block;
}

@media (min-width: 576px) {
  .modal-dialog { max-width: none; }
}

.modal-dialog {
  width: 98%;
  padding: 0;
}

.modal-content {
  height: 99%;
}

#boutonvalider {
  float: right;;
}
