<main>

<div class="alert alert-danger" role="alert" *ngIf="error">
    Erreur
</div>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">--{{ 'CONVERTISSEUR DEVISES' | translateInvite }}--</h5>

    <div class="panel-body text-center">
        <form class="justify-content-center" #conversionForm="ngForm">
          <div class="form-group">
            <input type="text" name="value" class="form-control text-right" placeholder="0" required
                [(ngModel)]="conversion.value" appNumber>
              </div>
              <div class="form-group">
            <select name="sourceCurrency" [(ngModel)]="conversion.sourceCurrency" class="form-control" required>
                <option *ngFor="let currency of currencies" [value]="currency.initials">
                    {{ currency.initials }} - {{ currency.description | translateInvite}}
                </option>
            </select>
          </div>
          <div class="form-group">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <select name="targetCurrency" [(ngModel)]="conversion.targetCurrency" class="form-control" required>
                <option *ngFor="let currency of currencies" [value]="currency.initials">
                    {{ currency.initials }} - {{ currency.description | translateInvite}}
                </option>
            </select>
          </div>
            <input type="submit" value="{{ 'Convertir' | translateInvite }}" class="btn btn-success" data-toggle="modal" data-target="#quotationModal" (click)="convert()" [disabled]="!conversionForm.form.valid">
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" id="quotationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body text-center">
            <div>
                <h2>
                    {{ conversion.value }}
                    {{ conversion.sourceCurrency }}
                     =
                    {{ convertedValue }}
                    {{ conversion.targetCurrency }}
                </h2>
                <p>
                    1 {{ conversion.targetCurrency }} =
                    {{ targetQuotation }} {{ conversion.sourceCurrency }} /
                    1 {{ conversion.sourceCurrency }} =  {{ sourceQuotation }} {{ conversion.targetCurrency }}
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="newQuery()">
              {{ 'Nouvelle conversion' | translateInvite }}
            </button>
        </div>
    </div>
</div>
</div>
</div>
</body>
</main>
