<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <div>
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Identifiant</label>
              <input type="text" class="form-control" formControlName="identifiant">
            </div>
            <div class="form-group">
              <label>Revenus Mensuels</label>
              <input type="text" class="form-control" formControlName="revenus">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
