<main role="main">
  <app-stepper></app-stepper>
  <p *ngIf="demandeOuverture === true">
    {{ 'Vous avez deja fait une demande d\'ouverture !!!!' | translateInvite }}
  </p>

  <form *ngIf="demandeOuverture === false" style="width: 900px; margin-left: 200px;" [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
    <div class="card m-3">
      <h5 class="card-header">{{ 'Demande ouverture de compte' | translateInvite }}</h5>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-7 col-md-6">
                <label for="nom">{{ 'Nom' | translateInvite }}</label>
                <input name="nom" type="text " class="form-control " formControlName="nom" placeholder="{{ 'Nom' | translateInvite }}" required>
              </div>
              <div class="col-xs-7 col-md-6">
                <label for="prenom">{{ 'Prenom' | translateInvite }}</label>
                <input name="prenom" type="text " class="form-control " formControlName="prenom" placeholder="{{ 'Prenom' | translateInvite }}"
                  required>
              </div>
            </div>
            <label for="email" [ngClass]="demandeForm.controls['email'].invalid ? 'text-danger' : ''">
              {{ 'Adresse email' | translateInvite }}</label>
            <input id="email" formControlName="email" type="email" class="form-control"
              [ngClass]="demandeForm.controls['email'].invalid ? 'is-invalid' : ''">
            <label class="text-danger" *ngIf="demandeForm.controls['email'].hasError('required')">
              {{ 'Adresse Mail obligatoire!' | translateInvite }}
            </label>
            <label class="text-danger" *ngIf="demandeForm.controls['email'].hasError('email')">
              {{ 'Entrer une adresse Mail!' | translateInvite }}
            </label>
            <br>
            <label for="adresse">{{ 'Adresse' | translateInvite }}</label>
            <input name="adresse" type="text " class="form-control " formControlName="adresse" placeholder="{{ 'Adresse' | translateInvite }}"
              required>
            <label for="telephone">{{ 'Telephone' | translateInvite }}</label>
            <input name="telephone" type="text " class="form-control " formControlName="telephone"
              placeholder="{{ 'Telephone' | translateInvite }}" required>
            <label for="revenu">{{ 'Revenu mensuel' | translateInvite }}</label>
            <input name="revenu" type="number " class="form-control " formControlName="revenu"
              placeholder="{{ 'Revenu mensuel' | translateInvite }}" required>
              <!--<input type="file" formControlName="piecesJustif" (change)="onFileSelected($event)">
              <button type="button" (click)="onUpload()">Upload</button>-->
          </div>
        </div>
        <button type="submit " name="boutonvalider" [disabled]="demandeForm.invalid" id="boutonvalider" value="Envoyer "
          class="btn btn-info ">{{ 'Valider' | translateInvite }}</button>
      </div>
    </div>
  </form>
</main>
