<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <p>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
      <table class="table ">
        <tr *ngFor="let demande of demandesOuvertures | paginate: { itemsPerPage: 5, currentPage: p }">
          <td *ngIf="demande.valide !=1">Aucune demande d'ouverture</td>
          <td *ngIf="demande.valide ==1">{{demande.dateDemande | date}}</td>
          <td *ngIf="demande.valide ==1">ID du client potentiel : {{demande.clientpotentiel.idclientpotentiel}}</td>
          <td *ngIf="demande.valide ==1">      <a (click)="editDetailDemande(demande.iddemandeOuverture, demande.clientpotentiel.idclientpotentiel)" class="btn btn-light pointer">&raquo; Voir la demande</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
