button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}

.inscrire.link-is-disabled {
  pointer-events: none;
  background-color: #99ad94;
}

#nomSite {
  color:white;
}

.pointer {
  cursor: pointer;
}
