<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container">
      <a class="navbar-brand pointer" (click)="retourAccueil()" id="nomSite">Gestibank</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          &#9776;
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
          <ul class="nav navbar-nav">
              <li class="nav-item"><a class="nav-link pointer" (click)="editActualites()" >Actualites2</a></li>
              <li *ngIf="loggue == 0" class="nav-item pointer"><a (click)="editFormDemande()" class="nav-link">Demande Ouverture</a></li>
              <li *ngIf="loggue > 0" class="nav-item pointer"><a (click)="editEspaceClient(utilisateur.idutilisateur)" class="nav-link">Mon espace Client</a></li>

          </ul>
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
              <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
              <li *ngIf="loggue > 0" class="nav-item">
                <button type="submit" (click)="clearLocalStorage()" class="btn btn-light pointer">Deconnexion</button>
              </li>
              <li  *ngIf="loggue == 0" class="dropdown order-1">
                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right mt-2">
                     <li class="px-3 py-2">
                         <form class="form" [formGroup]="logForm" (ngSubmit)="login()">
                              <div class="form-group">
                                  <input type="email" id="emailInput" placeholder="Email" formControlName="email" id="inputEmail" class="form-control">
                              </div>
                              <div class="form-group">
                                  <input type="password" id="passwordInput" placeholder="Password" formControlName="password" id="inputPassword" class="form-control" placeholder="mot de passe" required>
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                              </div>
                              <div class="form-group text-center">
                                  <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
                              </div>
                          </form>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3>Forgot password</h3>
              <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
              <p>Reset your password..</p>
          </div>
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn btn-primary">Save changes</button>
          </div>
      </div>
  </div>
</div>
