<main>
  <main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                  <li class="breadcrumb-item"><a (click)="retourAccueil()" class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
                  <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
                  <li class="breadcrumb-item active">{{ 'Mes comptes' | translateClient }}</li>
                </ol>
            </nav>
            <h1 *ngIf="client">{{ 'Bonjour' | translateClient }}, {{client.utilisateur.nom}}</h1>
            <p>
              <pagination-controls (pageChange)="p = $event" previousLabel="{{ 'Precedent' | translateClient }}" nextLabel="{{ 'Suivant' | translateClient }}"></pagination-controls>
          </p>
            <div class="list-group list-group-flush mb-3" *ngFor="let compte of comptes | paginate: { itemsPerPage: 5, currentPage: p }">
              <article class="list-group-item list-group-item-action">
                <h1 class="h3">{{ 'Numero de compte' | translateClient }} {{compte.numCompte}}</h1>
                <p>{{ 'Solde : ' | translateClient }} {{compte.solde}}</p>
                <a (click)="editDetailCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; {{ 'Voir les transactions' | translateClient }}</a>
              </article>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <app-menu-droit-client></app-menu-droit-client>
          </div>
    </section>
</main>
</main>
