<main>
  <main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                  <li class="breadcrumb-item"><a (click)="retourAccueil()"
                    class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
                <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
                  <li class="breadcrumb-item active">{{ 'Changer MDP' | translateClient }}</li>
                </ol>
            </nav>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <p>{{ 'mot de passe doit avoir 6 caractères min' | translateClient }}</p>
              <div class="form-row">
                  <div class="form-group col">
                      <label>{{ 'mot de passe' | translateClient }}</label>
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">{{ 'mot de passe' | translateClient }}</div>
                          <div *ngIf="f.password.errors.minlength">{{ 'mot de passe doit avoir 6 caractères min' | translateClient }}</div>
                      </div>
                  </div>
                  <div class="form-group col">
                      <label>{{ 'confirmation mot de passe' | translateClient }}</label>
                      <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">{{ 'confirmation mot de passe' | translateClient }}</div>
                          <div *ngIf="f.confirmPassword.errors.mustMatch">{{ 'confirmation doit correspondre' | translateClient }}</div>
                      </div>
                  </div>
              </div>
              <div class="text-center">
                  <button id="boutonvalider" [disabled]="registerForm.invalid" class="btn btn-info mr-1">{{ 'Modifier' | translateClient }}</button>
              </div>
          </form>
        </div>
        <div class="col-12 col-md-3">
          <app-menu-droit-client></app-menu-droit-client>
          </div>
    </section>
</main>
</main>
