<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a routerLink="/admin/login" class="nav-link">{{ 'Admin' | translate }}</a>
      </div>
      <div class="col-xs-6">
        <a routerLink="/agent/login" class="nav-link">{{ 'Agent' | translate }}</a>
      </div>
        </div>
      </div>
</footer>
