<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container">
      <a class="navbar-brand pointer" (click)="retourAccueil()" id="nomSite">{{ 'Gestibanque' | translate }}</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          &#9776;
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
          <ul class="nav navbar-nav">
              <!--<li class="nav-item"><a class="nav-link pointer" (click)="editActualites()" >{{ 'Actualites' | translate }}</a></li>-->
              <li *ngIf="loggue == 0" class="nav-item pointer"><a (click)="editFormDemande()" class="nav-link">{{ 'Demande Ouverture' | translate }}</a></li>
              <li *ngIf="loggue > 0" class="nav-item pointer"><a (click)="editEspaceClient(utilisateur.idutilisateur)" class="nav-link">{{'Mon espace Client' | translate}}</a></li>
              <li class="nav-item pointer"><a (click)="editConvertisseur()" class="nav-link">{{ 'Convertir Devises' | translate }}</a></li>
              <!--<li class="nav-item pointer"><a (click)="test()" class="nav-link">test</a></li>-->
              <!-- "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --user-data-dir="C:/Chrome dev session" --disable-web-security -->

            </ul>
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
              <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
              <li *ngIf="loggue != 0" class="nav-item">
                <button type="submit" (click)="clearLocalStorage()" class="btn btn-light pointer">{{ 'Deconnexion' | translate }}</button>
              </li>
              <li  *ngIf="loggue === 0" class="dropdown order-1">
                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">{{ 'Se connecter' | translate }} <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right mt-2">
                     <li class="px-3 py-2">
                         <form class="form" [formGroup]="logForm" (ngSubmit)="login()">
                              <div class="form-group">
                                  <input type="email" id="emailInput" placeholder="{{ 'adresse email' | translate }}" formControlName="email" id="inputEmail" class="form-control">
                              </div>
                              <div class="form-group">
                                  <input type="password" id="passwordInput" placeholder="Password" formControlName="password" id="inputPassword" class="form-control" placeholder="{{ 'mot de passe' | translate }}" required>
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-primary btn-block">{{ 'Se connecter' | translate }}</button>
                              </div>
                          </form>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
