<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace admin</li>
        </ol>
      </nav>

      <form class="form-inline" [formGroup]="recherMatriculeAgentForm" (ngSubmit)="onSubmitMatricule()">
        <div class="form-group mb-2">
          <label for="matricule" class="sr-only">Matricule</label>
          <input type="text" readonly class="form-control-plaintext" id="matricule" value="Recherche par Matricule">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="matricule" class="sr-only">Password</label>
          <input type="number" class="form-control" id="matricule" formControlName="matricule" placeholder="8080">
        </div>
        <button type="submit" class="btn btn-primary mb-2" data-toggle="modal" data-target="#RechercheMatriculeModal">Rechercher</button>
      </form>

      <form class="form-inline" [formGroup]="recherNomAgentForm" (ngSubmit)="onSubmitNom()">
        <div class="form-group mb-2">
          <label for="nom" class="sr-only">Nom</label>
          <input type="text" readonly class="form-control-plaintext" id="nom" value="Recherche par nom">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="nom" class="sr-only">Nom</label>
          <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="toto">
        </div>
        <button type="submit" class="btn btn-primary mb-2" data-toggle="modal" data-target="#RechercheNomModal">Rechercher</button>
      </form>

      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" id="RechercheMatriculeModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body text-center">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Matricule</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="agentMatricule">
                      <td>{{agentMatricule.utilisateur.nom}}</td>
                      <td>{{agentMatricule.utilisateur.prenom}}</td>
                      <td>{{agentMatricule.matricule}}</td>
                      <td><button type="button" data-dismiss="modal" (click)="editAgent(agentMatricule.idagent)" class="btn btn-success">Detail</button>
                      <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="deleteUser(agentMatricule.idagent, agentMatricule.utilisateur.idutilisateur)" Onclick="javascript:window.history.go(0)">Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">
                      Nouvelle recherche
                  </button>
              </div>
          </div>
      </div>
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" id="RechercheNomModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body text-center">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Matricule</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let agentNom of agentsNom">
                      <td>{{agentNom.utilisateur.nom}}</td>
                      <td>{{agentNom.utilisateur.prenom}}</td>
                      <td>{{agentNom.matricule}}</td>
                      <td><button type="button" data-dismiss="modal" (click)="editAgent(agentNom.idagent)" class="btn btn-success">Detail</button>
                      <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="deleteUser(agentNom.idagent, agentNom.utilisateur.idutilisateur)" Onclick="javascript:window.history.go(0)">Supprimer</button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">
                      Nouvelle recherche
                  </button>
              </div>
          </div>
      </div>
      </div>



      <button type="button" (click)="editFormAjoutAgent()" class="btn btn-warning btn-lg btn-block">Ajouter un agent</button>
      <br>
      <p>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Matricule</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="agents?.length === 0">Pas d'agents ????</tr>

          <tr *ngFor="let agent of agents | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{agent.utilisateur.nom}}</td>
            <td>{{agent.utilisateur.prenom}}</td>
            <td>{{agent.matricule}}</td>
            <td><button type="button" (click)="editAgent(agent.idagent)" class="btn btn-success">Detail</button>
            <button type="button" class="btn btn-danger" (click)="deleteUser(agent.idagent, agent.utilisateur.idutilisateur)" Onclick="javascript:window.history.go(0)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-admin></app-menu-droit-admin>
    </div>
  </section>
</main>

