<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <div>
        <div *ngIf="requete">
          <p *ngIf="requete.etat == 1">Requete en attente de traitement</p>
          <p *ngIf="requete.etat != 1">Requete traitée</p>
        </div>
        <form *ngIf="requete" [formGroup]="requeteForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Message</label>
              <input type="text" class="form-control" formControlName="message" readonly>
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="etat" readonly>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary" *ngIf="requete.etat == 1">Valider</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
