<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item"><a (click)="retourAccueil()"
              class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
          <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
          <li class="breadcrumb-item active">{{ 'Virement' | translateClient }}</li>
        </ol>
      </nav>
      <form [formGroup]="virementInterneForm" (ngSubmit)="onSubmitVirInterne()">
        <div id="cadreFormulaire" class="card m-3">
          <h5 class="card-header">{{ 'Virement entre mes comptes' | translateClient }}</h5>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="form-group">
                <label for="projetTitle">{{ 'Compte debiteur' | translateClient }}</label>
                <select name="select" formControlName="compteDebiter">
                  <option value="" disabled>{{ 'num compte' | translateClient }}</option>
                  <option *ngFor="let compte of comptes" [ngValue]="compte.idcompte">{{compte.numCompte}}</option>
                </select>

                <label for="projetTitle">{{ 'Compte crediteur' | translateClient }}</label>
                <select name="select" formControlName="compteCrediter">
                  <option value="" disabled>{{ 'num compte' | translateClient }}</option>
                  <option *ngFor="let compte of comptes" [ngValue]="compte.idcompte">{{compte.numCompte}}</option>
                </select>

                <label for="montant">{{ 'Montant' | translateClient }}:</label>

                <input type="number" id="montant" name="montant" formControlName="montant">

                <button type="submit " id="boutonvalider" [disabled]="virementInterneForm.invalid" class="btn btn-info " data-toggle="modal"
                  data-target="#exampleModalCenter">{{ 'Valider' | translateClient }}</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 *ngIf="etatOpe === 0" class="modal-title" id="exampleModalLongTitle">{{ 'Virement OK' | translateClient }}</h5>
                        <h5 *ngIf="etatOpe === 1" class="modal-title" id="exampleModalLongTitle">{{ 'Virement Impossible' | translateClient }}</h5>

                        <button type="button" (click)="retourEspaceClient()" class="close" data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div *ngIf="etatOpe === 0" class="modal-body">
                        {{ 'Votre virement vient d\'etre fait' | translateClient }}
                      </div>
                      <div *ngIf="etatOpe === 1" class="modal-body">
                        {{ 'Votre virement est impossible' | translateClient }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="virementExterneForm" (ngSubmit)="onSubmitVirExterne()">
        <div id="cadreFormulaire" class="card m-3">
          <h5 class="card-header">{{ 'Virement compte externe' | translateClient }}</h5>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="form-group">
                <label for="projetTitle">{{ 'Compte debiteur' | translateClient }}</label>
                <select name="select" formControlName="compteDebiter">
                  <option value="" disabled>{{ 'num compte' | translateClient }}</option>
                  <option *ngFor="let compte of comptes" [ngValue]="compte.idcompte">{{compte.numCompte}}</option>
                </select>

                <label for="projetTitle">{{ 'Compte crediteur' | translateClient }}</label>
                <input type="text" id="compteCrediteur" name="compteCrediteur" formControlName="compteCrediter">


                <label for="montant">{{ 'Montant' | translateClient }}:</label>

                <input type="number" id="montant" name="montant" formControlName="montant">

                <button type="submit " id="boutonvalider" class="btn btn-info " [disabled]="virementExterneForm.invalid" data-toggle="modal"
                  data-target="#exampleModalCenter">{{ 'Valider' | translateClient }}</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 *ngIf="etatOpe === 0" class="modal-title" id="exampleModalLongTitle">{{ 'Virement OK' | translateClient }}</h5>
                        <h5 *ngIf="etatOpe === 1" class="modal-title" id="exampleModalLongTitle">{{ 'Virement Impossible' | translateClient }}</h5>

                        <button type="button" (click)="retourEspaceClient()" class="close" data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div *ngIf="etatOpe === 0" class="modal-body">
                        {{ 'Votre virement vient d\'etre fait' | translateClient }}
                      </div>
                      <div *ngIf="etatOpe === 1" class="modal-body">
                        {{ 'Votre virement est impossible' | translateClient }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-client></app-menu-droit-client>
    </div>
  </section>
</main>
