<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <div *ngIf="client">
        <p>{{client.utilisateur.nom}} {{client.utilisateur.prenom}}</p>
        <p>E-mail : {{client.utilisateur.email}}</p>
        <a (click)="createCompte()" class="btn btn-info pointer">&raquo; Creer un compte</a>
      </div>

      <div class="list-group list-group-flush mb-3" *ngFor="let compte of comptes">
        <article *ngIf="compte" class="list-group-item list-group-item-action">
          <h1 class="h3">Numero de compte : {{compte.numCompte}}</h1>
          <p>Solde : {{compte.solde}}</p>
          <a (click)="editDetailCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; Voir les transactions</a>
          <hr>
          <a (click)="editModifCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; Modifier compte</a>
        </article>
    </div>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
