<main role="main">
  <section id="cover" class="min-vh-100">
    <div id="exemple_4">
      <div id="cover-caption">
        <div class="container">
          <div class="row text-white">
            <div class="divHP">
              <p>100€ à l'ouverture !
              <p>
              <div class="px-2">
                <form action="" class="justify-content-center">
                  <div class="form-group">
                    <label class="sr-only">Nom</label>
                    <input type="text" class="form-control" placeholder="Jean Dupond">
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Email</label>
                    <input type="text" class="form-control" placeholder="jeanDupond@example.com">
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Lancer la demande</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
