main {
  //margin-top: 50px;

  /* Full height */
  height: 100%;
}

#exemple_4 {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 300px;
  right: 30px;
}

#divHP {
  width: 340px;
}


#cover {
  background: #222 url('/assets/default.jpg') center center no-repeat;
  background-size: cover;
  //height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}
