<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace admin</li>
        </ol>
      </nav>
      <div *ngIf="agent">
        <form [formGroup]="agentForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" formControlName="nom">
            </div>
            <div class="form-group">
              <label>Prenom</label>
              <input type="text" class="form-control" formControlName="prenom">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label>Adresse</label>
              <input type="text" class="form-control" formControlName="adresse">
            </div>
            <div class="form-group">
              <label>Telephone</label>
              <input type="text" class="form-control" formControlName="telephone">
            </div>
            <div class="form-group">
              <label>Pseudo</label>
              <input type="text" class="form-control" formControlName="pseudo">
            </div>
            <div class="form-group">
              <label>MDP</label>
              <input type="text" class="form-control" formControlName="mdp">
            </div>
            <div class="form-group">
              <label>Matricule</label>
              <input type="text" class="form-control" formControlName="matricule" readonly>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary" id="boutonvalider" >Enregistrer</button>
          <button type="button" class="btn btn-warning" id="boutonannuler" (click)="annuler()">Annuler</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-admin></app-menu-droit-admin>
    </div>
  </section>
</main>
