<button type="button" (click)="LogOut()" id="btnPartieDroite"
class="btn btn-outline-warning btn-lg btn-block">LogOut</button>
<br>
<section class="card">
  <div class="card-header bg-light text-white">
    <h1 class="h5"><button type="button" (click)="editListeAgents()" id="btnPartieDroite"
      class="btn btn-outline-warning btn-lg btn-block">Mes Agents</button></h1>
  </div>
  <div class="card-header bg-light text-white">
    <h1 class="h5"><button type="button" (click)="editListeDemandes()" id="btnPartieDroite"
      class="btn btn-outline-warning btn-lg btn-block">Demandes</button></h1>
  </div>
</section>
