<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <button type="button" (click)="retourListe()" class="btn btn-dark">Retour</button>
      <form *ngIf="typeCompteCCE === true" [formGroup]="modififCompteCCEForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <hr>
          <div class="form-group">
            <label>NumCompte</label>
            <input type="text" class="form-control" formControlName="numCompte" readonly>
          </div>
          <div class="form-group">
            <label>RIB</label>
            <input type="text" class="form-control" formControlName="rib" readonly>
          </div>
          <div class="form-group">
            <label>Seuil Remu</label>
            <input type="number" class="form-control" formControlName="seuilRemu" readonly>
          </div>
        </fieldset>
      </form>
      <form *ngIf="typeCompteCCSD === true" [formGroup]="modififCompteCCSDForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <hr>
          <div class="form-group">
            <label>NumCompte</label>
            <input type="text" class="form-control" formControlName="numCompte" readonly>
          </div>
          <div class="form-group">
            <label>RIB</label>
            <input type="text" class="form-control" formControlName="rib" readonly>
          </div>
        </fieldset>
      </form>
      <form *ngIf="typeCompteCCAD === true" [formGroup]="modififCompteCCADForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <hr>
          <div class="form-group">
            <label>NumCompte</label>
            <input type="text" class="form-control" formControlName="numCompte" readonly>
          </div>
          <div class="form-group">
            <label>RIB</label>
            <input type="text" class="form-control" formControlName="rib" readonly>
          </div>
          <div class="form-group">
            <label>Decouvert Max : {{max}} €</label>
            <input type="number" min="10" max="{{max}}" class="form-control" formControlName="decouvert">
          </div>
          <button type="submit" id="boutonvalider" class="btn btn-primary">Modifier</button>
        </fieldset>
      </form>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-agent></app-menu-droit-agent>
    </div>
  </section>
</main>
