main {
  margin-top: 80px;
}

.bandeau {
  height: 200px;
  width: 920px;
  align-items: center;
  padding-bottom: 10px;
}

#bandeauFilArianne {
  background-color: #9aa1a2a6;
}

.lienFilArianne {
  color:white;
}

.pointer {
  cursor: pointer;
}

#boutonvalider {
  float: right;;
}
