<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <div class="global">
        <div class="cadreform">
            <div class="center-div">
                <div class="btn-toolbar">
                    <button style="margin-right: 8px;" type="button" class="btn btn-outline-primary" (click)="content='showCCSD'">Compte Courant Sans Decouvert</button>
                    <button style="margin-right: 8px;" type="button" class="btn btn-outline-primary" (click)="content='showCCAD'">Compte Courant Avec Decouvert</button>
                    <button type="button" class="btn btn-outline-primary" (click)="content='showCE'">Compte Epargne</button>
                </div>
                <div [ngSwitch]="content">

                    <div *ngSwitchCase="'showCE'">
                        <form [formGroup]="compteCEForm" (ngSubmit)="onSubmitCE()">
                          <fieldset>
                          <div class="form-group">
                            <label>NumCompte fini par C</label>
                            <input type="text" class="form-control" formControlName="numCompte">
                          </div>
                          <div class="form-group">
                            <label>RIB</label>
                            <input type="text" class="form-control" formControlName="rib">
                          </div>
                          <div class="form-group">
                            <label>SeuilRemu</label>
                            <input type="text" class="form-control" formControlName="seuilRemu">
                          </div>
                        </fieldset>
                            <button  [disabled]="compteCEForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
                        </form>
                    </div>

                    <div *ngSwitchCase="'showCCSD'">
                      <form [formGroup]="compteCCSDForm" (ngSubmit)="onSubmitCCSD()">
                        <fieldset>
                        <div class="form-group">
                          <label>NumCompte fini par A</label>
                          <input type="text" class="form-control" formControlName="numCompte">
                        </div>
                        <div class="form-group">
                          <label>RIB</label>
                          <input type="text" class="form-control" formControlName="rib">
                        </div>
                      </fieldset>
                          <button [disabled]="compteCCSDForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
                      </form>
                    </div>

                    <div *ngSwitchCase="'showCCAD'">
                      <form [formGroup]="compteCCADForm" (ngSubmit)="onSubmitCCAD()">
                        <fieldset>
                        <div class="form-group">
                          <label>NumCompte fini par B</label>
                          <input type="text" class="form-control" formControlName="numCompte">
                        </div>
                        <div class="form-group">
                          <label>RIB</label>
                          <input type="text" class="form-control" formControlName="rib">
                        </div>
                        <div class="form-group">
                          <label>Decouvert Max : {{max}} €</label>
                          <input type="number" min="10" max="{{max}}" class="form-control" formControlName="decouvert">
                        </div>
                      </fieldset>
                          <button class="btn btn-lg btn-primary btn-block" [disabled]="compteCCADForm.invalid" type="submit">Enregistrer</button>
                      </form>
                    </div>

                </div>


            </div>
        </div>
    </div>
      <div>
        <!--
        <form [formGroup]="compteForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>NumCompte</label>
              <input type="text" class="form-control" formControlName="numCompte">
            </div>
            <div class="form-group">
              <label>RIB</label>
              <input type="text" class="form-control" formControlName="rib">
            </div>
            <div class="form-group">
              <label>Decouvert</label>
              <input type="text" class="form-control" formControlName="decouvert">
            </div>
            <div class="form-group">
              <label>SeuilRemu</label>
              <input type="text" class="form-control" formControlName="seuilRemu">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
        -->
      </div>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
