<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <p>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
      <table class="table ">
        <tr *ngFor="let client of clients | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>{{client.utilisateur.nom}}</td>
          <td>{{client.utilisateur.prenom}}</td>
          <td><a (click)="editDetailClient(client.idclient)" class="btn btn-light pointer">&raquo; Detail client</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
