<main role="main">
  <app-stepper></app-stepper>
  <form [formGroup]="piecesJustifForm" (ngSubmit)="onSubmit()">
    <div class="card m-3">
      <h5 class="card-header">{{ 'Demande ouverture de compte' | translateInvite }}</h5>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="form-group">
            <div class="row">
              <label for="piecesJustif">{{ 'Pieces justificatives' | translateInvite }}</label>
              <br>
            </div>
            <div class="row">
              <input type="file" formControlName="piecesJustif" (change)="onFileSelected($event)">
              <button type="button" (click)="onUpload()">Upload</button>
            </div>
            <div class="row">
              <label for="piecesJustif">{{ 'Impots' | translateInvite }}</label>
              <br>
            </div>
            <div class="row">
              <input type="file" formControlName="impots" (change)="onFileSelected2($event)">
              <button type="button" (click)="onUploadImpot()">Upload</button>
            </div>
          </div>
        </div>
        <button type="submit " name="boutonvalider" [disabled]="piecesJustifForm.invalid" id="boutonvalider"
        value="Envoyer " class="btn btn-info ">{{ 'Valider' | translateInvite }}</button>
      </div>
    </div>
  </form>
</main>
