<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item"><a (click)="retourAccueil()"
            class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
        <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
          <li class="breadcrumb-item active">{{ 'Requetes' | translateClient }}</li>
        </ol>
      </nav>
      <p>{{ 'Mes requetes possibles' | translateClient }}</p>
      <div class="list-group list-group-flush mb-3" *ngFor="let typeRequete of typeRequetes">
        <a (click)="editFormRequete(typeRequete.idtyperequete)" class="btn btn-info pointer">&raquo; {{typeRequete.type | translateClient}}</a>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-client></app-menu-droit-client>
    </div>
  </section>
</main>
