<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <p>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
      <table class="table ">
        <tr *ngFor="let requete of requetes | paginate: { itemsPerPage: 5, currentPage: p }">
          <td >{{requete.client.utilisateur.nom}}</td>
          <td >{{requete.message}}</td>
          <td><a (click)="editRequete(requete.idrequete)" class="btn btn-light pointer">&raquo; Detail</a>
          <td *ngIf="requete.etat ==1"><a (click)="editRequete(requete.idrequete)" class="btn btn-light pointer">&raquo; Traiter la requete</a>
          <td *ngIf="requete.etat !=1">Déjà traitée</td>
          </tr>
      </table>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
