<div style="margin-top: -80px;" class="md-stepper-horizontal orange">
    <div class="md-step active editable">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">{{ 'Informations personnelles' | translateInvite }}</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active editable">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">{{ 'Pieces justificatives' | translateInvite }}</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">{{ 'Validation' | translateInvite }}</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>
