<div class="container">
</div>
<section class="card">
  <div class="card-header bg-info text-white">
    <h1 class="h5">{{ 'Mon conseiller' | translateClient }}</h1>
  </div>
  <div *ngIf="client">
  <p>{{client.agent.utilisateur.nom}} {{client.agent.utilisateur.prenom}}</p>
  <p>{{client.agent.utilisateur.telephone}}</p>
  <p>{{client.agent.utilisateur.adresse}}</p>
</div>
  <div class="card-header bg-info text-white">
    <h1 class="h5"><button type="button" (click)="editListeComptes()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">{{ 'Mes comptes' | translateClient }}</button></h1>
  </div>
  <div class="card-header bg-info text-white">
    <h1 class="h5"><button type="button" (click)="editListeVirements()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">{{ 'Virement' | translateClient }}</button></h1>
  </div>
  <div class="card-header bg-info text-white">
    <h1 class="h5"><button type="button" (click)="editListeRequetes()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">{{ 'Requetes' | translateClient }}</button></h1>
  </div>
  <ul class="list-group">
  </ul>
  <div class="card-header bg-info text-white">
    <h1 class="h5"><button type="button" (click)="editListeNotifications()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">{{ 'Notifications' | translateClient }}</button></h1>
  </div>
  <div class="card-header bg-info text-white">
    <h1 class="h5"><button type="button" (click)="editPassword()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">{{ 'Changer MDP' | translateClient }}</button></h1>
  </div>
</section>
