<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item"><a (click)="retourAccueil()" class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
          <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
          <li class="breadcrumb-item">{{ 'Mes comptes' | translateClient }}</li>
          <li class="breadcrumb-item active">{{ 'Transactions' | translateClient }}</li>
        </ol>
      </nav>
      <button type="button" (click)="retourListe()" class="btn btn-dark">{{ 'Retour' | translateClient }}</button>
      <button type="button" (click)="getTransactionsByIdCompteMoisDernier()" class="btn btn-dark">{{ '30 derniers jours' | translateClient }}</button>
      <form [formGroup]="moisForm" (ngSubmit)="onSubmit()">
        <div id="cadreFormulaire" class="card m-3">
          <div class="card-body">
              <select class="form-control" formControlName="choixMois" placeholder="mois" id="exampleFormControlSelect1">
                <option value="defaut">{{ 'Choix Mois' | translateClient }}</option>
                <option *ngFor="let m of mois ">{{m}}</option>
              </select>
              <button type="submit " name="boutonvalider" id="boutonvalider" class="btn btn-info " [disabled]="moisForm.invalid">GO</button>
            </div>
        </div>
      </form>
      <form [formGroup]="betweenForm" (ngSubmit)="onSubmitBetween()">
        <div id="cadreFormulaire" class="card m-3">
          <div class="card-body">
            <label>&nbsp;Debut&nbsp;</label>
            <input type="date" formControlName="dateDebut" name="dateDebut " max="3000-12-31 " min="1000-01-01 " class="form-control " placeholder="dateDebut ">
            <label>&nbsp;Fin&nbsp;</label>
            <input type="date" formControlName="dateFin" name="dateFin" max="3000-12-31 " min="1000-01-01 " class="form-control " placeholder="dateFin ">
              <button type="submit " name="boutonvalider" id="boutonvalider" class="btn btn-info " [disabled]="betweenForm.invalid">lancer</button>
            </div>
        </div>
      </form>
      <button type="button" id="print-btn" (click)="downloadPdf()" class="btn btn-info">{{ 'Imprimer' | translateClient }}</button>
      <br><br>
      <table class="table ">
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.date | date:'d/MM/y'}} {{transaction.libelle}}</td>
          <td>{{transaction.montant}}</td>
        </tr>
      </table>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-client></app-menu-droit-client>
    </div>
  </section>
</main>
