<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace admin</li>
        </ol>
      </nav>
      <p>Demandes en attente d'attribution</p>
      <p>
        <pagination-controls (pageChange)="p = $event" previousLabel="Precedent" nextLabel="Suivant"></pagination-controls>
    </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>RevenusMensuels</th>
            <th>Nom</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="clientsPo?.length === 0">Pas de demandes</tr>
          <tr *ngFor="let clientPo of clientsPo | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{clientPo.revenuMensuel}}</td>
            <td>{{clientPo.nom}}</td>
            <td><button type="button" (click)="openModal(clientPo.idclientpotentiel)" data-toggle="modal" data-target="#attributionModal" class="btn btn-success">Attribuer</button>
            <td><button type="button" (click)="supprimerClientPo(clientPo.idclientpotentiel)" Onclick="javascript:window.history.go(0)" class="btn btn-danger">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" id="attributionModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body text-center">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Agent</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                      <td>
                        <select class="form-control form-control-sm" [(ngModel)]="idAgentAttribue">
                          <option>-- choix de l'agent --</option>
                          <option *ngFor="let agent of agents">{{agent.matricule}}</option>
                        </select>
                      </td>
                      <td><button type="button" (click)="attribuerClientPo(idClientPo)"  data-dismiss="modal" Onclick="javascript:window.history.go(0)" class="btn btn-success">Attribuer</button>
                      </td>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      </div>
      <p>Demandes attribuées</p>
      <p>
        <pagination-controls (pageChange)="p = $event" previousLabel="Precedent" nextLabel="Suivant"></pagination-controls>
    </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Agent</th>
            <th>Statut</th>
            <th>DateDemande</th>
            <th>DateAffectation</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="clientsPo?.length === 0">Pas de demandes</tr>
          <tr *ngFor="let demandeOuverture of demandeOuvertures">
            <td>{{demandeOuverture.agentMatricule}}</td>
            <td *ngIf="demandeOuverture.valide ===1">En cours</td>
            <td *ngIf="demandeOuverture.valide !=1">Traitée</td>
            <td>{{demandeOuverture.dateDemande | date}}</td>
            <td></td>
            <td><button *ngIf="demandeOuverture.valide ===1" (click)="changerAttribution(idAgentAttribue, demandeOuverture.iddemandeOuverture)"
              type="button" class="btn btn-success" data-toggle="modal" data-target="#changerAttributionModal">Changer attribution</button></td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" id="changerAttributionModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body text-center">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Agent</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                      <td>
                        <select class="form-control form-control-sm" [(ngModel)]="idAgentAttribue">
                          <option>-- choix de l'agent --</option>
                          <option *ngFor="let agent of agents">{{agent.matricule}}</option>
                        </select>
                      </td>
                      <td>
                        <button (click)="changerAttribution(idAgentAttribue, demandeOuverture.iddemandeOuverture)"
              type="button" class="btn btn-success" Onclick="javascript:window.history.go(0)">Changer attribution</button>
                      </td>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      </div>

    </div>

  <div class="col-12 col-md-3">
    <app-menu-droit-admin></app-menu-droit-admin>
  </div>
</section>

</main>
