<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <button type="button" (click)="retourListe()" class="btn btn-dark">Retour</button>
      <div class="pdf-container">
        <pdf-viewer [src]="src" [original-size]="true" [show-borders]="true"></pdf-viewer>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-agent></app-menu-droit-agent>
    </div>
  </section>
</main>
