<main>
  <main class="container-fluid mb-4">
    <section class="row my-4">
      <div class="col-12 col-md-9">
        <nav>
          <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a (click)="retourAccueil()" class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
            <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
            <li class="breadcrumb-item">{{ 'Notifications' | translateClient }}</li>
            <li class="breadcrumb-item active">{{ 'Compte' | translateClient }} {{numCompte}}</li>
          </ol>
        </nav>
        <button type="button" (click)="retourListe()" class="btn btn-dark">{{ 'Retour' | translateClient }}</button>
        <div class="list-group list-group-flush mb-3" *ngFor="let notif of notifs">
          <p>{{notif.message}}</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <app-menu-droit-client></app-menu-droit-client>
      </div>
    </section>
  </main>
</main>
