<main class="container-fluid mb-4">
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">--ADMIN--</h5>
              <form class="form" [formGroup]="adminLogForm" (ngSubmit)="login()">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
                  <label for="inputPassword">MotDePasse</label>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'identifier</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </main>
