<p>liste-comptes works!</p>
<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>

      <form class="form-inline" [formGroup]="recherCompteNum" (ngSubmit)="onSubmitNum()">
        <div class="form-group mb-2">
          <label for="matricule" class="sr-only">NumCompte</label>
          <input type="text" readonly class="form-control-plaintext" id="numCompte" value="numeroCompte">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="matricule" class="sr-only">NumCompte</label>
          <input type="text" class="form-control" id="numCompte" formControlName="numCompte" placeholder="test">
        </div>
        <button type="submit" class="btn btn-primary mb-2" data-toggle="modal" data-target="#RechercheNumModal">Rechercher</button>
      </form>

      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" id="RechercheNumModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body text-center">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Num</th>
                      <th>Solde</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="compte">
                      <td>{{compte.numCompte}}</td>
                      <td>{{compte.solde}}</td>
                      <td><a data-dismiss="modal" (click)="editDetailCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; Voir les transactions</a></td>
                      <td><a data-dismiss="modal" (click)="editModifCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; Paramètres du compte</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">
                      Nouvelle recherche
                  </button>
              </div>
          </div>
      </div>
      </div>
      <p>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
      <div class="list-group list-group-flush mb-3" *ngFor="let compte of comptes | paginate: { itemsPerPage: 5, currentPage: p }">
        <article class="list-group-item list-group-item-action">
          <h1 class="h3">Numero de compte : {{compte.numCompte}}</h1>
          <p>Solde : {{compte.solde}}</p>
          <a (click)="editDetailCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; Voir les transactions</a>
          <a (click)="editModifCompte(compte.idcompte)" class="btn btn-info pointer">&raquo; Paramètres du compte</a>

        </article>
    </div>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
