<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item">Espace agent</li>
        </ol>
      </nav>
      <button type="button" (click)="retourListe()" class="btn btn-dark">Retour</button>
      <table class="table ">
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.libelle}}</td>
          <td>{{transaction.montant}}</td>
        </tr>
      </table>
    </div>
    <div class="col-12 col-md-3">
<app-menu-droit-agent></app-menu-droit-agent>
</div>
  </section>
</main>
