<button type="button" (click)="LogOut()" id="btnPartieDroite"
class="btn btn-light btn-lg btn-block">LogOut</button>
<br>
<section class="card">
  <div class="card-header bg-secondary text-white">
    <h1 class="h5"><button type="button" (click)="editListeClients()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">Mes Clients</button></h1>
  </div>
  <div class="card-header bg-secondary text-white">
    <h1 class="h5"><button type="button" (click)="editListeDemandes()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">Demandes</button></h1>
  </div>
  <div class="card-header bg-secondary text-white">
    <h1 class="h5"><button type="button" (click)="editListeRequetes()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">Requetes</button></h1>
  </div>
  <div class="card-header bg-secondary text-white">
    <h1 class="h5"><button type="button" (click)="editListeComptes()" id="btnPartieDroite"
      class="btn btn-light btn-lg btn-block">Comptes</button></h1>
  </div>

</section>
