<main>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <h5 class="card-header">
              Actualite 1
            </h5>
            <div class="card-body">
              <h4 class="card-title">Oslo</h4>
              <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
              <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
              <a href="#" class="card-link text-danger">Read More</a>
              <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <h5 class="card-header">
              Actualite 2
            </h5>
            <div class="card-body">
              <h4 class="card-title">Oslo</h4>
              <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
              <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
              <a href="#" class="card-link text-danger">Read More</a>
              <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <h5 class="card-header">
              Actualite 3
            </h5>
            <div class="card-body">
              <h4 class="card-title">Oslo</h4>
              <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
              <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
              <a href="#" class="card-link text-danger">Read More</a>
              <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
          </div>
          <br>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <h5 class="card-header">
              Actualite 4
            </h5>
            <div class="card-body">
              <h4 class="card-title">Oslo</h4>
              <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
              <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
              <a href="#" class="card-link text-danger">Read More</a>
              <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <h5 class="card-header">
              Actualite 5
            </h5>
            <div class="card-body">
              <h4 class="card-title">Oslo</h4>
              <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
              <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
              <a href="#" class="card-link text-danger">Read More</a>
              <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <h5 class="card-header">
              Actualite 6
            </h5>
            <div class="card-body">
              <h4 class="card-title">Oslo</h4>
              <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
              <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
              <a href="#" class="card-link text-danger">Read More</a>
              <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</main>
