<main>
  <main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                  <li class="breadcrumb-item"><a (click)="retourAccueil()" class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
                  <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
                  <li class="breadcrumb-item active">{{ 'Notifications' | translateClient }}</li>
                </ol>
            </nav>

          <div class="list-group list-group-flush mb-3" *ngFor="let compte of comptes">
            <a (click)="editDetailNotif(compte.numCompte)" class="btn btn-info pointer">&raquo; {{ 'Notif compte n°' | translateClient }} {{compte.numCompte}}</a>
          </div>
          <p>
            <pagination-controls (pageChange)="p = $event" previousLabel="{{ 'Precedent' | translateClient }}" nextLabel="{{ 'Suivant' | translateClient }}"></pagination-controls>
          </p>
          <div class="list-group list-group-flush mb-3" *ngFor="let notif of notifs | paginate: { itemsPerPage: 5, currentPage: p }">
            <p>{{notif.compte.idcompte}} | {{notif.message}}</p>
        </div>
        </div>
        <div class="col-12 col-md-3">
          <app-menu-droit-client></app-menu-droit-client>
          </div>
    </section>
</main>
</main>
