<main role="main">
  <section id="cover" class="min-vh-100">
    <div class="container">
      <div class="row">
    <div class="col-xs-6">
      <button (click)="selectLanguage('fr')">FR</button>
    </div>
    <div class="col-xs-6">
      <button (click)="selectLanguage('en')" >UK</button>
    </div>
    <div class="col-xs-6">
      <button (click)="selectLanguage('ar')">عربى</button>
    </div>
    </div>
    </div>
    <div id="exemple_4">
      <div id="cover-caption">
        <div class="container">
          <div class="container">
          </div>
          <div class="row text-white">
            <div class="divHP">
              <p>{{ '50€ à l\'ouverture' | translate }}<p>
              <div class="px-2" style="padding-bottom: 34px;">
                <form [formGroup]="demandeAccueilForm" (ngSubmit)="editFormDemande()" class="justify-content-center">
                  <div class="form-group">
                    <label class="sr-only">Nom</label>
                    <input type="text" class="form-control" formControlName="nom" placeholder="{{ 'Nom' | translate }}">
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Prenom</label>
                    <input type="text" class="form-control" formControlName="prenom" placeholder="{{ 'Prenom' | translate }}">
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="{{ 'adresse email' | translate }}">
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">{{ 'Lancer la demande' | translate }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
