<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item"><a (click)="retourAccueil()" class="lienFilArianne pointer">{{ 'Accueil' | translateClient }}</a></li>
          <li class="breadcrumb-item">{{ 'Espace client' | translateClient }}</li>
          <li class="breadcrumb-item">{{ 'Requetes' | translateClient }}</li>
        </ol>
      </nav>
      <form [formGroup]="requeteForm" (ngSubmit)="onSubmit()">
        <div id="cadreFormulaire" class="card m-3">
          <h5 class="card-header">{{ 'Requetes' | translateClient }}</h5>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="form-group">
                <label for="projetTitle">{{ 'Votre message' | translateClient }}</label>
                <textarea class="message" rows="5" name="message" id="message2" type="text " class="form-control "
                  formControlName="message" placeholder="{{ 'Ici votre message' | translateClient }}"></textarea>
                <button type="submit " name="boutonvalider" id="boutonvalider" class="btn btn-info " [disabled]="requeteForm.invalid" data-toggle="modal"
                  data-target="#exampleModalCenter">{{ 'Valider' | translateClient }}</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ 'Requete envoyee' | translateClient }}</h5>
                        <button type="button" (click)="retourEspaceClient()" class="close" data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ 'Votre requete est bien envoyee elle sera traitee au plus vite par votre conseiller' | translateClient }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-3">
      <app-menu-droit-client></app-menu-droit-client>
    </div>
  </section>
</main>
